<!-- Creación de la Pagina HTML -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset = "iso-8559-1"/>
        <meta name="description" content="calcula propinas"/>
        <title>Calculador de propinas</title>
        <link rel="stylesheet" href="../Assets/css/estilo.css"/>
        <script type="text/javascript" src="View/Presentador.js"></script>
        <script type="text/javascript" src="../Model/PropinaModel.js"></script>
        <script type="text/javascript" src="../Controller/CalculadorPropinaController.js"></script>
        <style>
            body{
                background-image: url("../Assets/imgs/background_wood.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        </style>
    </head>

    <body>  
        <header id="background">
            <h1>Calculador de propinas</h1>
        </header>
        <section id="formulario">
            <article>
                <header>
                    <h2>Costo</h2>
                </header>
                <input type="text" placeholder="Introduce valor de costo" id="costo_producto"/>
                <footer>
                    <p id="p_text">ingresar solo valores numericos</p>
                </footer>
            </article>

            <article>
                <header>
                    <h2>Porcentaje</h2>
                </header>
                <input type="text" placeholder="Introduce porcentaje de propina" id ="por_propina"/>
                <footer>
                    <p id="p_text">ingresar solo valores numericos</p>
                </footer>
            </article>
            
            <button type="button" onclick="Presentador.capturaDatos()">Calcular</button>
            
            <article>
                <header>
                    <h2>Resultados</h2>
                </header>
                <p id="p_text"><strong>La propina es igual a:</strong></p>
                <p id="propina_S"></p>
                <p></p>
                <p id="p_text"><strong>El valor Total es igual a:</strong></p>
                <p id = "total_S"></p>
            </article>

        </section>
        <footer id="pie_pagina">
            <small>Pagina web de Juan Esteban Rendón Montoya derechos reservados</small>
            <address>Info. tel: 3106460328, Rionegro-Antioquia,Git Hub JuanE250898</address>
        </footer>
    </body>
</html>